/*
  Mixins
*/
.colorSkill(@bgColor,@color){

  .br-widget{

    a{
      background-color: @bgColor;
    }

    .br-current-rating{
      color: @color;
    }

  }

}

#menu_principal{
  background-color:#ffffff;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  min-height: 56px;
  padding-left: 100px;

  #itemsMenuPrincipal{

    .nav-item{

      &:hover{
        cursor: pointer;

      }

    }//Fin .nav-item

  }//Fin #itemsMenuPrincipal

  #menu_contacto{
    padding-left: 0px;
    position: absolute;
    right: 15px;
    top: 5px;
    width: auto;

    .nav-item{
      display: inline-block !important;
      float: left;

      &:hover{
        cursor: pointer;
      }

      .nav-link{
        color: rgba(0,0,0,0.6);
        padding-left: 7px;
        padding-right: 7px;

        &.linkedin{
          &:hover{
            color: rgb(0,115,177);
          }
        }

        &.youtube{
          &:hover{
            color: rgb(204, 2, 2);
          }
        }

        &.github{
          &:hover{
            color: rgba(0,0,0,0.8);
          }
        }

        .fa{
          font-size: 28px;
          transition: all 0.2s;

        }//Fin .fa

      }//Fin .nav-link

    }//Fin .nav-item

  }//Fin #menu_contacto

}//Fin #menu_principal

#contenido_principal{
  background-color:rgba(0,0,0,0.05);
  margin-top: 56px;

  > .row{

    > div[class*='col-']{

      &:nth-child(1){
        padding-right: 0px;
      }

    }

  }//Fin > .row

  .wrapper_me{
    padding-top: 50px;

    .avatar{
      width: 60%;
    }//Fin .avatar

    .titulo{
      color: rgba(0,0,0,0.6);
      font-size: 30px;
      font-weight: bold;
      text-align: center;

      @media (max-width: 1200px){
        font-size: 30px;
      }

      @media (max-width: 992px){
        font-size: 22px;
      }

      @media (max-width: 768px){
        font-size: 16px;
      }

      @media (max-width: 575px){
        font-size: 30px;
      }

      @media (max-width: 360px){
        font-size: 24px;
      }

    }//Fin .titulo

    .subtitulo{
      color: rgba(0,0,0,0.6);
      font-size: 23px;
      text-align: center;

      @media (max-width: 1200px){
        font-size: 23px;
      }

      @media (max-width: 992px){
        font-size: 20px;
      }

      @media (max-width: 768px){
        font-size: 19px;
      }

      @media (max-width: 575px){
        font-size: 30px;
      }

      @media (max-width: 360px){
        font-size: 24px;
      }

    }//Fin .subtitulo

    .info{
      color: rgba(0,0,0,0.6);
      font-size: 17px;
      text-align: center;

      @media (max-width: 1200px){
        font-size: 17px;
      }

      @media (max-width: 992px){
        font-size: 15px;
      }

      @media (max-width: 768px){
        font-size: 15px;
      }

      @media (max-width: 575px){
        font-size: 17px;
      }

      @media (max-width: 360px){
        font-size: 17px;
      }

      .pais{
        height: auto;
        margin-top: -5px;
        width: 23px;
      }//Fin .pais

    }//Fin .info

  }//Fin .wrapper_me

  .wrapper_section{
    padding-top: 50px;

    > .row{

      > div[class*='col-']{

        .info{
          background-color: #ffffff;
          border-radius: 4px;
          margin-bottom: 50px;
          padding: 20px;

          .rating{
            margin-bottom: 50px;
            padding-left: 100px;

            .br-widget{
              width: 100%;

              a{
                background-color: rgba(0,0,0,0.1);
                width: 17%;

                &:nth-child(1){
                  &.br-selected{
                    background-color: #e01f2f;
                  }
                }

                &:nth-child(2){
                  &.br-selected{
                    background-color: #ed9004;
                  }
                }

                &:nth-child(3){
                  &.br-selected{
                    background-color: #f3f709;
                  }
                }

                &:nth-child(4){
                  &.br-selected{
                    background-color: #3af202;
                  }
                }

              }//Fin a

              .br-current-rating{
                color: rgba(0,0,0,0.7);
                font-weight: bold;
                text-align: left;
                width: 100%;
              }

            }//Fin .br-widget

            &.html{
              img{
                height: 30px;
                width: auto;
              }
            }//Fin .html

            &.css{
              img{
                height: 30px;
                width: auto;
              }
            }//Fin .css

            &.js{
              img{
                height: 30px;
                width: auto;
              }
            }//Fin .js

            &.mysql{
              img{
                height: 30px;
                width: auto;
              }
            }//Fin .mysql

            &.node{
              img{
                height: 30px;
                width: auto;
              }
            }//Fin .node

            &.less{
              img{
                height: 22px;
                width: auto;
              }
            }//Fin .less

            &.oracle{
              img{
                height: 15px;
                width: auto;
              }
            }//Fin .nooraclede

            &.dynamodb{
              img{
                height: 28px;
                width: auto;
              }
            }//Fin .dynamodb

            &.php{
              img{
                height: 28px;
                width: auto;
              }
            }//Fin .bootstrap

            &.bootstrap{
              img{
                height: 28px;
                width: auto;
              }
            }//Fin .bootstrap

            &.soap{
              img{
                height: 20px;
                width: auto;
              }
            }//Fin .soap

            &.restful{
              img{
                height: 20px;
                width: auto;
              }
            }//Fin .restful

            &.codeigniter{
              img{
                height: 25px;
                width: auto;
              }
            }//Fin .codeigniter

            &.laravel{
              img{
                height: 25px;
                width: auto;
              }
            }//Fin .laravel

            &.android{
              img{
                height: 30px;
                width: auto;
              }
            }//Fin .android

            &.jquery{
              img{
                height: 25px;
                width: auto;
              }
            }//Fin .jquery

            &.git{
              img{
                height: 25px;
                width: auto;
              }
            }//Fin .git

            &.composer{
              img{
                height: 30px;
                width: auto;
              }
            }//Fin .git

          }//Fin .rating

        }//Fin .info

      }//Fin > div[class*='col-']

    }//Fin >.row

  }//Fin .wrapper_section

}//Fin #contenido_principal
