#menu_principal {
  background-color: #3399ff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  min-height: 56px;
  padding-left: 7%;
}
#menu_principal .navbar-toggler {
  border: 1px solid #ffffff;
}
#menu_principal .navbar-toggler:hover {
  cursor: pointer;
}
#menu_principal .navbar-toggler span {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
#menu_principal #itemsMenuPrincipal .nav-item:hover {
  cursor: pointer;
}
#menu_principal #itemsMenuPrincipal .nav-item .nav-link {
  color: #ffffff;
  transition: all 0.3s;
}
#menu_principal #itemsMenuPrincipal .nav-item .nav-link:hover {
  color: rgba(0, 0, 0, 0.8);
}
#menu_principal #menu_contacto {
  padding-left: 0px;
  position: absolute;
  right: 15px;
  top: 5px;
  width: auto;
}
#menu_principal #menu_contacto .nav-item {
  display: inline-block !important;
  float: left;
}
#menu_principal #menu_contacto .nav-item:hover {
  cursor: pointer;
}
#menu_principal #menu_contacto .nav-item .nav-link {
  color: rgba(255, 255, 255, 0.9);
  padding-left: 7px;
  padding-right: 7px;
}
#menu_principal #menu_contacto .nav-item .nav-link:hover {
  color: rgba(0, 0, 0, 0.8);
}
#menu_principal #menu_contacto .nav-item .nav-link.idioma:hover span {
  border: 1px solid #000000;
  cursor: pointer;
}
#menu_principal #menu_contacto .nav-item .nav-link.idioma span {
  border: 1px solid rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  padding: 0px 6px 3px 6px;
  transition: all 0.2s;
}
#menu_principal #menu_contacto .nav-item .nav-link .fa {
  font-size: 28px;
  transition: all 0.2s;
}
@media (max-width: 360px) {
  #menu_principal #menu_contacto {
    right: 0px;
  }
}
@media (max-width: 360px) {
  #menu_principal {
    padding-left: 2%;
  }
}
#contenido_principal {
  background-color: rgba(0, 0, 0, 0.05);
  margin-top: 56px;
}
#contenido_principal > .row > div[class*='col-']:nth-child(1) {
  padding-right: 0px;
}
#contenido_principal .wrapper_me {
  padding-top: 50px;
  transition: all 0.4s;
}
#contenido_principal .wrapper_me .avatar {
  width: 40%;
}
@media (max-width: 1200px) {
  #contenido_principal .wrapper_me .avatar {
    width: 40%;
  }
}
@media (max-width: 992px) {
  #contenido_principal .wrapper_me .avatar {
    width: 50%;
  }
}
@media (max-width: 768px) {
  #contenido_principal .wrapper_me .avatar {
    width: 50%;
  }
}
@media (max-width: 575px) {
  #contenido_principal .wrapper_me .avatar {
    width: 40%;
  }
}
@media (max-width: 360px) {
  #contenido_principal .wrapper_me .avatar {
    font-size: 50px;
  }
}
#contenido_principal .wrapper_me .titulo {
  color: rgba(0, 0, 0, 0.6);
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
@media (max-width: 1200px) {
  #contenido_principal .wrapper_me .titulo {
    font-size: 25px;
  }
}
@media (max-width: 992px) {
  #contenido_principal .wrapper_me .titulo {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  #contenido_principal .wrapper_me .titulo {
    font-size: 17px;
  }
}
@media (max-width: 575px) {
  #contenido_principal .wrapper_me .titulo {
    font-size: 30px;
  }
}
@media (max-width: 360px) {
  #contenido_principal .wrapper_me .titulo {
    font-size: 24px;
  }
}
#contenido_principal .wrapper_me .subtitulo {
  color: rgba(0, 0, 0, 0.6);
  font-size: 23px;
  text-align: center;
}
@media (max-width: 1200px) {
  #contenido_principal .wrapper_me .subtitulo {
    font-size: 23px;
  }
}
@media (max-width: 992px) {
  #contenido_principal .wrapper_me .subtitulo {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  #contenido_principal .wrapper_me .subtitulo {
    font-size: 19px;
  }
}
@media (max-width: 575px) {
  #contenido_principal .wrapper_me .subtitulo {
    font-size: 30px;
  }
}
@media (max-width: 360px) {
  #contenido_principal .wrapper_me .subtitulo {
    font-size: 24px;
  }
}
#contenido_principal .wrapper_me .info {
  color: rgba(0, 0, 0, 0.6);
  font-size: 17px;
  text-align: center;
}
@media (max-width: 1200px) {
  #contenido_principal .wrapper_me .info {
    font-size: 17px;
  }
}
@media (max-width: 992px) {
  #contenido_principal .wrapper_me .info {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  #contenido_principal .wrapper_me .info {
    font-size: 15px;
  }
}
@media (max-width: 575px) {
  #contenido_principal .wrapper_me .info {
    font-size: 17px;
  }
}
@media (max-width: 360px) {
  #contenido_principal .wrapper_me .info {
    font-size: 17px;
  }
}
#contenido_principal .wrapper_me .info .pais {
  height: auto;
  margin-top: -5px;
  width: 23px;
}
#contenido_principal .wrapper_section {
  padding-top: 50px;
}
#contenido_principal .wrapper_section > .row > div[class*='col-'] .titulo {
  color: #3399ff;
}
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info {
  background-color: #ffffff;
  border-radius: 4px;
  margin-bottom: 50px;
  padding: 20px;
}
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating {
  margin-bottom: 50px;
  padding-left: 100px;
}
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating .br-widget {
  width: 100%;
}
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating .br-widget a {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.15);
  width: 17%;
}
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating .br-widget a:nth-child(1).br-selected {
  background-color: #e01f2f;
}
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating .br-widget a:nth-child(2).br-selected {
  background-color: #ed9004;
}
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating .br-widget a:nth-child(3).br-selected {
  background-color: #f3f709;
}
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating .br-widget a:nth-child(4).br-selected {
  background-color: #3af202;
}
@media (max-width: 1200px) {
  #contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating .br-widget a {
    width: 20%;
  }
}
@media (max-width: 992px) {
  #contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating .br-widget a {
    width: 21%;
  }
}
@media (max-width: 768px) {
  #contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating .br-widget a {
    width: 22.5%;
  }
}
@media (max-width: 360px) {
  #contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating .br-widget a {
    width: 23%;
  }
}
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating .br-widget .br-current-rating {
  color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
  text-align: left;
  width: 100%;
}
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating.html img,
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating.css img,
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating.js img,
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating.mysql img,
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating.node img,
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating.android img,
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating.composer img {
  height: 30px;
  width: auto;
}
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating.less img {
  height: 22px;
  width: auto;
}
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating.oracle img {
  height: 15px;
  width: auto;
}
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating.dynamodb img,
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating.php img,
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating.bootstrap img,
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating.vue img,
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating.lodash img,
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating.npm img,
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating.aws img {
  height: 28px;
  width: auto;
}
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating.soap img,
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating.restful img,
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating.serverless img {
  height: 20px;
  width: auto;
}
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating.codeigniter img,
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating.laravel img,
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating.jquery img,
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating.git img,
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating.heroku img,
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating.react img {
  height: 25px;
  width: auto;
}
@media (max-width: 1200px) {
  #contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating {
    padding-left: 80px;
  }
}
@media (max-width: 992px) {
  #contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating {
    padding-left: 40px;
  }
}
@media (max-width: 768px) {
  #contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating {
    padding-left: 20px;
  }
}
@media (max-width: 575px) {
  #contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating {
    padding-left: 40px;
  }
}
@media (max-width: 360px) {
  #contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating {
    padding-left: 30px;
  }
}
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .card {
  border-color: rgba(51, 153, 255, 0.35);
  margin-bottom: 15px;
}
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .card .modal_certificado {
  background-color: #3399ff;
  color: #ffffff;
  transition: all 0.3s;
}
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .card .modal_certificado:hover {
  background-color: #000000;
  border-color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
}
#modal_certificado {
  z-index: 99999;
}
#modal_certificado .modal-dialog {
  background: none;
  min-width: 0px;
  width: auto;
  max-width: 530px;
}
#modal_certificado .modal-dialog .modal-content {
  background: none;
  border: none;
}
#modal_certificado .modal-dialog .modal-content .modal-header {
  background: none;
  border: 0px;
  height: 18px;
  padding: 3px 3px 3px 3px;
}
#modal_certificado .modal-dialog .modal-content .modal-header button {
  color: white;
  opacity: 1;
  position: absolute;
  right: 0px;
}
#modal_certificado .modal-dialog .modal-content .modal-body {
  padding: 0px;
}
#modal_certificado .modal-dialog .modal-content .modal-footer {
  border: 0px;
  border-color: rgba(0, 0, 0, 0);
  padding: 0px;
}
.wrapperContPdf {
  left: -5000px;
  min-width: 1400px;
  position: fixed;
  width: 1400px;
}
.wrapperContPdf .img1,
.wrapperContPdf .img2 {
  background-color: #f2f2f2;
  padding-top: 50px;
  width: 1400px;
}
.wrapperContPdf .img1.img1,
.wrapperContPdf .img2.img1 {
  height: 1900px;
}
@media (max-width: 991px) {
  .wrapperContPdf .img1.img1,
  .wrapperContPdf .img2.img1 {
    height: 2100px;
  }
}
@media (max-width: 900px) {
  .wrapperContPdf .img1.img1,
  .wrapperContPdf .img2.img1 {
    border: 2px solid red;
    height: 2900px;
  }
}
.wrapperContPdf .img1.img2,
.wrapperContPdf .img2.img2 {
  height: 2200px;
  padding-left: 50px;
  padding-right: 50px;
}
.wrapperContPdf .wrapper_mePDF .avatar {
  width: 40%;
}
.wrapperContPdf .wrapper_mePDF .titulo {
  color: rgba(0, 0, 0, 0.6);
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
.wrapperContPdf .wrapper_mePDF .subtitulo {
  color: rgba(0, 0, 0, 0.6);
  font-size: 23px;
  text-align: center;
}
.wrapperContPdf .wrapper_mePDF .info {
  color: rgba(0, 0, 0, 0.6);
  font-size: 17px;
  text-align: center;
}
.wrapperContPdf .wrapper_mePDF .info .pais {
  height: auto;
  margin-top: -5px;
  width: 23px;
}
.wrapperContPdf .wrapper_section > .row {
  margin-left: 0px;
  margin-right: 0px;
}
.wrapperContPdf .wrapper_section > .row > div[class*='col-'] {
  padding-left: 0px;
  padding-right: 20px;
}
.wrapperContPdf .wrapper_section > .row > div[class*='col-'] .titulo {
  color: #3399ff;
}
.wrapperContPdf .wrapper_section > .row > div[class*='col-'] .info {
  background-color: #ffffff;
  border-radius: 4px;
  margin-bottom: 50px;
  padding: 20px;
}
.wrapperContPdf .wrapper_section > .row > div[class*='col-'] .info .rating {
  margin-bottom: 50px;
  padding-left: 100px;
}
.wrapperContPdf .wrapper_section > .row > div[class*='col-'] .info .rating .br-widget {
  width: 100%;
}
.wrapperContPdf .wrapper_section > .row > div[class*='col-'] .info .rating .br-widget a {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.15);
  width: 17%;
}
.wrapperContPdf .wrapper_section > .row > div[class*='col-'] .info .rating .br-widget a:nth-child(1).br-selected {
  background-color: #e01f2f;
}
.wrapperContPdf .wrapper_section > .row > div[class*='col-'] .info .rating .br-widget a:nth-child(2).br-selected {
  background-color: #ed9004;
}
.wrapperContPdf .wrapper_section > .row > div[class*='col-'] .info .rating .br-widget a:nth-child(3).br-selected {
  background-color: #f3f709;
}
.wrapperContPdf .wrapper_section > .row > div[class*='col-'] .info .rating .br-widget a:nth-child(4).br-selected {
  background-color: #3af202;
}
.wrapperContPdf .wrapper_section > .row > div[class*='col-'] .info .rating .br-widget .br-current-rating {
  color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
  text-align: left;
  width: 100%;
}
.wrapperContPdf .wrapper_section > .row > div[class*='col-'] .info .rating.html img,
.wrapperContPdf .wrapper_section > .row > div[class*='col-'] .info .rating.css img,
.wrapperContPdf .wrapper_section > .row > div[class*='col-'] .info .rating.js img,
.wrapperContPdf .wrapper_section > .row > div[class*='col-'] .info .rating.mysql img,
.wrapperContPdf .wrapper_section > .row > div[class*='col-'] .info .rating.node img,
.wrapperContPdf .wrapper_section > .row > div[class*='col-'] .info .rating.android img,
.wrapperContPdf .wrapper_section > .row > div[class*='col-'] .info .rating.composer img {
  height: 30px;
  width: auto;
}
.wrapperContPdf .wrapper_section > .row > div[class*='col-'] .info .rating.less img {
  height: 22px;
  width: auto;
}
.wrapperContPdf .wrapper_section > .row > div[class*='col-'] .info .rating.oracle img {
  height: 15px;
  width: auto;
}
.wrapperContPdf .wrapper_section > .row > div[class*='col-'] .info .rating.dynamodb img,
.wrapperContPdf .wrapper_section > .row > div[class*='col-'] .info .rating.php img,
.wrapperContPdf .wrapper_section > .row > div[class*='col-'] .info .rating.bootstrap img,
.wrapperContPdf .wrapper_section > .row > div[class*='col-'] .info .rating.vue img,
.wrapperContPdf .wrapper_section > .row > div[class*='col-'] .info .rating.lodash img,
.wrapperContPdf .wrapper_section > .row > div[class*='col-'] .info .rating.npm img,
.wrapperContPdf .wrapper_section > .row > div[class*='col-'] .info .rating.aws img {
  height: 28px;
  width: auto;
}
.wrapperContPdf .wrapper_section > .row > div[class*='col-'] .info .rating.soap img,
.wrapperContPdf .wrapper_section > .row > div[class*='col-'] .info .rating.restful img,
.wrapperContPdf .wrapper_section > .row > div[class*='col-'] .info .rating.serverless img {
  height: 20px;
  width: auto;
}
.wrapperContPdf .wrapper_section > .row > div[class*='col-'] .info .rating.codeigniter img,
.wrapperContPdf .wrapper_section > .row > div[class*='col-'] .info .rating.laravel img,
.wrapperContPdf .wrapper_section > .row > div[class*='col-'] .info .rating.jquery img,
.wrapperContPdf .wrapper_section > .row > div[class*='col-'] .info .rating.git img,
.wrapperContPdf .wrapper_section > .row > div[class*='col-'] .info .rating.heroku img,
.wrapperContPdf .wrapper_section > .row > div[class*='col-'] .info .rating.react img {
  height: 25px;
  width: auto;
}
.wrapperContPdf .wrapper_section > .row > div[class*='col-'] .info .card {
  border-color: rgba(51, 153, 255, 0.35);
  margin-bottom: 15px;
}
.wrapperContPdf .wrapper_section > .row > div[class*='col-'] .info .card .modal_certificado {
  background-color: #3399ff;
  color: #ffffff;
  transition: all 0.3s;
}
.wrapperContPdf .wrapper_section > .row > div[class*='col-'] .info .card .modal_certificado:hover {
  background-color: #000000;
  border-color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
}
