#menu_principal{
  background-color:#3399ff;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  min-height: 56px;
  padding-left: 7%;

  .navbar-toggler{
    border: 1px solid #ffffff;

    &:hover{
      cursor: pointer;
    }

    span{
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

  }

  #itemsMenuPrincipal{

    .nav-item{

      &:hover{
        cursor: pointer;
      }

      .nav-link{
        color: rgba(255,255,255,1);
        transition: all 0.3s;

        &:hover{
          color: rgba(0,0,0,0.8);
        }

      }

    }//Fin .nav-item

  }//Fin #itemsMenuPrincipal

  #menu_contacto{
    padding-left: 0px;
    position: absolute;
    right: 15px;
    top: 5px;
    width: auto;

    .nav-item{
      display: inline-block !important;
      float: left;

      &:hover{
        cursor: pointer;
      }

      .nav-link{
        color: rgba(255,255,255,0.9);
        padding-left: 7px;
        padding-right: 7px;

        &:hover{
          color: rgba(0,0,0,0.8);
        }

        &.idioma{

          &:hover{
            span{
              border: 1px solid rgba(0,0,0,1);
              cursor: pointer;
            }
          }

          span{
            border: 1px solid rgba(255,255,255,0.9);
            border-radius: 3px;
            padding: 0px 6px 3px 6px;
            transition: all 0.2s;
          }

        }

        .fa{
          font-size: 28px;
          transition: all 0.2s;

        }//Fin .fa

      }//Fin .nav-link

    }//Fin .nav-item

    @media (max-width: 360px){
      right: 0px;
    }

  }//Fin #menu_contacto

  @media (max-width: 360px){
    padding-left: 2%;
  }

}//Fin #menu_principal

#contenido_principal{
  background-color:rgba(0,0,0,0.05);
  margin-top: 56px;

  > .row{

    > div[class*='col-']{

      &:nth-child(1){
        padding-right: 0px;
      }

    }

  }//Fin > .row

  .wrapper_me{
    padding-top: 50px;
    transition: all 0.4s;

    .avatar{
      width: 40%;

      @media (max-width: 1200px){
        width: 40%;
      }

      @media (max-width: 992px){
        width: 50%;
      }

      @media (max-width: 768px){
        width: 50%;
      }

      @media (max-width: 575px){
        width: 40%;
      }

      @media (max-width: 360px){
        font-size: 50px;
      }

    }//Fin .avatar

    .titulo{
      color: rgba(0,0,0,0.6);
      font-size: 25px;
      font-weight: bold;
      text-align: center;

      @media (max-width: 1200px){
        font-size: 25px;
      }

      @media (max-width: 992px){
        font-size: 22px;
      }

      @media (max-width: 768px){
        font-size: 17px;
      }

      @media (max-width: 575px){
        font-size: 30px;
      }

      @media (max-width: 360px){
        font-size: 24px;
      }

    }//Fin .titulo

    .subtitulo{
      color: rgba(0,0,0,0.6);
      font-size: 23px;
      text-align: center;

      @media (max-width: 1200px){
        font-size: 23px;
      }

      @media (max-width: 992px){
        font-size: 20px;
      }

      @media (max-width: 768px){
        font-size: 19px;
      }

      @media (max-width: 575px){
        font-size: 30px;
      }

      @media (max-width: 360px){
        font-size: 24px;
      }

    }//Fin .subtitulo

    .info{
      color: rgba(0,0,0,0.6);
      font-size: 17px;
      text-align: center;

      @media (max-width: 1200px){
        font-size: 17px;
      }

      @media (max-width: 992px){
        font-size: 15px;
      }

      @media (max-width: 768px){
        font-size: 15px;
      }

      @media (max-width: 575px){
        font-size: 17px;
      }

      @media (max-width: 360px){
        font-size: 17px;
      }

      .pais{
        height: auto;
        margin-top: -5px;
        width: 23px;
      }//Fin .pais

    }//Fin .info

  }//Fin .wrapper_me

  .wrapper_section{
    padding-top: 50px;

    > .row{

      > div[class*='col-']{

        .titulo{
          color:#3399ff;
        }

        .info{
          background-color: #ffffff;
          border-radius: 4px;
          margin-bottom: 50px;
          padding: 20px;

          .rating{
            margin-bottom: 50px;
            padding-left: 100px;

            .br-widget{
              width: 100%;

              a{
                background-color: rgba(0,0,0,0.1);
                width: 17%;

                &:nth-child(1){
                  &.br-selected{
                    background-color: #e01f2f;
                  }
                }

                &:nth-child(2){
                  &.br-selected{
                    background-color: #ed9004;
                  }
                }

                &:nth-child(3){
                  &.br-selected{
                    background-color: #f3f709;
                  }
                }

                &:nth-child(4){
                  &.br-selected{
                    background-color: #3af202;
                  }
                }

                @media (max-width: 1200px){
                  width: 20%;
                }

                @media (max-width: 992px){
                  width: 21%;
                }

                @media (max-width: 768px){
                  width: 22.5%;
                }

                @media (max-width: 360px){
                  width: 23%;
                }

              }//Fin a

              .br-current-rating{
                color: rgba(0,0,0,0.7);
                font-weight: bold;
                text-align: left;
                width: 100%;
              }

            }//Fin .br-widget

            &.html,
            &.css,
            &.js,
            &.mysql,
            &.node,
            &.android,
            &.composer{
              img{
                height: 30px;
                width: auto;
              }
            }

            &.less{
              img{
                height: 22px;
                width: auto;
              }
            }

            &.oracle{
              img{
                height: 15px;
                width: auto;
              }
            }

            &.dynamodb,
            &.php,
            &.bootstrap{
              img{
                height: 28px;
                width: auto;
              }
            }

            &.soap,
            &.restful{
              img{
                height: 20px;
                width: auto;
              }
            }

            &.codeigniter,
            &.laravel,
            &.jquery,
            &.git{
              img{
                height: 25px;
                width: auto;
              }
            }

            @media (max-width: 1200px){
              padding-left: 80px;
            }

            @media (max-width: 992px){
              padding-left: 40px;
            }

            @media (max-width: 768px){
              padding-left: 20px;
            }

            @media (max-width: 575px){
              padding-left: 40px;
            }

            @media (max-width: 360px){
              padding-left: 30px;
            }

          }//Fin .rating

          .card{
            border-color: rgba(51,153,255,0.35);
            margin-bottom: 15px;

            .modal_certificado{
              background-color:rgba(51,153,255,1);
              color: #ffffff;
              transition: all 0.3s;

              &:hover{
                background-color: rgba(0,0,0,1);
                border-color: rgba(0,0,0,0.9);
                cursor: pointer;
              }

            }

          }//Fin .card

        }//Fin .info

      }//Fin > div[class*='col-']

    }//Fin >.row

  }//Fin .wrapper_section

}//Fin #contenido_principal

#modal_certificado{
	z-index: 99999;

	.modal-dialog{
    min-width: 0px;
    width: auto;
		max-width:530px;

		.modal-content{

      .modal-header{
        height: 18px;
				padding:3px 3px 3px 3px;

			  button{
          position: absolute;
          right: 0px;
        }

			}//Fin .modal-header

      .modal-body{
        padding: 0px;
			}//Fin .modal-body

			.modal-footer{
        border: 0px;
        border-color:rgba(0,0,0,0);
				padding:0px;
			}//Fin .modal-footer

		}//Fin .modal-content

	}//Fin .modal-dialog

}//Fin #modal_certificado
