/*
  Mixins
*/
#menu_principal {
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  min-height: 56px;
  padding-left: 100px;
}
#menu_principal #itemsMenuPrincipal .nav-item:hover {
  cursor: pointer;
}
#menu_principal #menu_contacto .nav-item:hover {
  cursor: pointer;
}
#menu_principal #menu_contacto .nav-item .nav-link.linkedin:hover {
  color: #0073b1;
}
#menu_principal #menu_contacto .nav-item .nav-link.youtube:hover {
  color: #cc0202;
}
#menu_principal #menu_contacto .nav-item .nav-link .fa {
  font-size: 28px;
  transition: all 0.2s;
}
#contenido_principal {
  background-color: rgba(0, 0, 0, 0.05);
  margin-top: 56px;
}
#contenido_principal > .row > div[class*='col-']:nth-child(1) {
  padding-right: 0px;
}
#contenido_principal .wrapper_me {
  padding-top: 50px;
}
#contenido_principal .wrapper_me .avatar {
  width: 60%;
}
#contenido_principal .wrapper_me .titulo {
  color: rgba(0, 0, 0, 0.6);
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
@media (max-width: 1200px) {
  #contenido_principal .wrapper_me .titulo {
    font-size: 30px;
  }
}
@media (max-width: 992px) {
  #contenido_principal .wrapper_me .titulo {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  #contenido_principal .wrapper_me .titulo {
    font-size: 16px;
  }
}
@media (max-width: 575px) {
  #contenido_principal .wrapper_me .titulo {
    font-size: 30px;
  }
}
@media (max-width: 360px) {
  #contenido_principal .wrapper_me .titulo {
    font-size: 24px;
  }
}
#contenido_principal .wrapper_me .subtitulo {
  color: rgba(0, 0, 0, 0.6);
  font-size: 23px;
  text-align: center;
}
@media (max-width: 1200px) {
  #contenido_principal .wrapper_me .subtitulo {
    font-size: 23px;
  }
}
@media (max-width: 992px) {
  #contenido_principal .wrapper_me .subtitulo {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  #contenido_principal .wrapper_me .subtitulo {
    font-size: 19px;
  }
}
@media (max-width: 575px) {
  #contenido_principal .wrapper_me .subtitulo {
    font-size: 30px;
  }
}
@media (max-width: 360px) {
  #contenido_principal .wrapper_me .subtitulo {
    font-size: 24px;
  }
}
#contenido_principal .wrapper_me .info {
  color: rgba(0, 0, 0, 0.6);
  font-size: 17px;
  text-align: center;
}
@media (max-width: 1200px) {
  #contenido_principal .wrapper_me .info {
    font-size: 17px;
  }
}
@media (max-width: 992px) {
  #contenido_principal .wrapper_me .info {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  #contenido_principal .wrapper_me .info {
    font-size: 15px;
  }
}
@media (max-width: 575px) {
  #contenido_principal .wrapper_me .info {
    font-size: 17px;
  }
}
@media (max-width: 360px) {
  #contenido_principal .wrapper_me .info {
    font-size: 17px;
  }
}
#contenido_principal .wrapper_me .info .pais {
  height: auto;
  margin-top: -5px;
  width: 23px;
}
#contenido_principal .wrapper_section {
  padding-top: 50px;
}
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info {
  background-color: #ffffff;
  border-radius: 4px;
  margin-bottom: 50px;
  padding: 20px;
}
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating {
  margin-bottom: 50px;
  padding-left: 100px;
}
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating .br-widget {
  width: 100%;
}
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating .br-widget a {
  background-color: rgba(0, 0, 0, 0.1);
  width: 17%;
}
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating .br-widget a:nth-child(1).br-selected {
  background-color: #e01f2f;
}
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating .br-widget a:nth-child(2).br-selected {
  background-color: #ed9004;
}
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating .br-widget a:nth-child(3).br-selected {
  background-color: #55ce33;
}
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating .br-widget a:nth-child(4).br-selected {
  background-color: #1cddc0;
}
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating .br-widget .br-current-rating {
  color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
  text-align: left;
  width: 100%;
}
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating.html img {
  height: 30px;
  width: auto;
}
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating.css img {
  height: 30px;
  width: auto;
}
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating.js img {
  height: 30px;
  width: auto;
}
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating.mysql img {
  height: 30px;
  width: auto;
}
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating.node img {
  height: 30px;
  width: auto;
}
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating.less img {
  height: 22px;
  width: auto;
}
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating.oracle img {
  height: 15px;
  width: auto;
}
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating.dynamodb img {
  height: 28px;
  width: auto;
}
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating.php img {
  height: 28px;
  width: auto;
}
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating.bootstrap img {
  height: 28px;
  width: auto;
}
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating.codeigniter img {
  height: 25px;
  width: auto;
}
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating.laravel img {
  height: 25px;
  width: auto;
}
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating.android img {
  height: 30px;
  width: auto;
}
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating.jquery img {
  height: 25px;
  width: auto;
}
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating.git img {
  height: 25px;
  width: auto;
}
#contenido_principal .wrapper_section > .row > div[class*='col-'] .info .rating.composer img {
  height: 30px;
  width: auto;
}
