#menu_principal{
    background-color:#26242A;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    min-height: 56px;
    padding-left: 7%;
  
    .navbar-toggler{
      border: 1px solid #ffffff;
  
      &:hover{
        cursor: pointer;
      }
  
      span{
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
      }
  
    }
  
    #itemsMenuPrincipal{
  
      .nav-item{
  
        &:hover{
          cursor: pointer;
        }
  
        .nav-link{
          color: rgba(255,255,255,1);
          transition: all 0.3s;
  
          &:hover{
            color: #FFD286;
          }
  
        }
  
      }//Fin .nav-item
  
    }//Fin #itemsMenuPrincipal
  
    #menu_contacto{
      padding-left: 0px;
      position: absolute;
      right: 15px;
      top: 5px;
      width: auto;
  
      .nav-item{
        display: inline-block !important;
        float: left;
  
        &:hover{
          cursor: pointer;
        }
  
        .nav-link{
          color: rgba(255,255,255,0.9);
          padding-left: 7px;
          padding-right: 7px;
  
          &:hover{
            color: #FFD286;
          }
  
          &.idioma{
  
            &:hover{
              span{
                border: 1px solid rgba(0,0,0,1);
                cursor: pointer;
              }
            }
  
            span{
              border: 1px solid rgba(255,255,255,0.9);
              border-radius: 3px;
              padding: 0px 6px 3px 6px;
              transition: all 0.2s;
            }
  
          }
  
          svg{
            font-size: 28px;
            transition: all 0.2s;
          }//Fin svg
  
        }//Fin .nav-link
  
      }//Fin .nav-item
  
      @media (max-width: 360px){
        right: 0px;
      }
  
    }//Fin #menu_contacto
  
    @media (max-width: 360px){
      padding-left: 2%;
    }
  
  }//Fin #menu_principal